# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
crash.log
